$navbar_color:#000000;
$main_color:#0a192f;
$secondary_color:#142237;
$third_color:#33479A;
$content_color:#CCD6F6;
$mobile_navbar_color:#081426;
$editor_color:#292d3e;
$editor_header_background_color:#1f222c;
$editor_header_color:#aaaebc;
$font: 'Poppins', sans-serif;
